/* Removing Default Styling */
a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul {
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 0;
}

/* No padding */
header .navbar {
	padding-top: 0px;
	padding-bottom: 0px;
}

/* Setting Background Color for Navigation Bar */
#header-bg {
	background-color: #f5f5f5;
	padding: 0;
}

/* Custom Made Middle devision */
.custom-div {
	display: grid;
	grid-template-columns: auto auto;
}

/* Formatting Free Shipping */
.free-shipping h5 {
	color: #333;
	font-family: "Franklin Gothic Medium", "Arial Narrow";
	text-transform: uppercase;
	margin-bottom: 0;
}
.free-shipping h6 {
	color: #333;
	text-transform: uppercase;
	margin-bottom: 0;
}

/* Formatting Brand Title */
.custom-div strong {
	margin-bottom: 0;
	align-self: center;
	margin-left: 40px;
	font-family: "Redressed", cursive;
	font-size: 40px;
	color: #a71308;
}

/* ************* Formatting Link **************** */
/* Account and My Cart Link */
#header .acc-cart .nav-link {
	color: #333;
	font-family: "Franklin Gothic Medium", "Arial Narrow";
	text-transform: uppercase;
}
#header .acc-cart .nav-link:hover {
	color: #a71308;
}

#header .acc-cart .nav-item {
	padding: 0 10px;
}

#header .navbar-nav {
	flex-direction: row;
}

/* Menu Links (eg.sale, shop, best seller etc..) */
.navbar-light .navbar-nav .nav-link {
	color: #333;
	text-transform: uppercase;
	font-family: "Libre Baskerville", serif;
	font-size: 0.8em;
	font-weight: 600;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: #a71308;
}
/* ****************** Formattng Link Ends ***************** */

#navigation {
	width: 100%;
	justify-content: space-around;
}
.form-inline {
	flex-flow: row nowrap;
}

.form-inline .form-control {
	width: 250px;
}

.form-control:focus {
	color: #212529;
	background-color: #fff;
	border-color: #000000;
	outline: 0;
	box-shadow: none;
}

/* **********Styling Best Seller Slider**************  */
.best-seller h2 {
	color: #a71308;
	text-transform: uppercase;
	text-decoration: underline;
}

/* bs = "best seller" */
.bs-img-left {
	box-shadow: -15px -15px 10px rgba(125, 3, 3, 0.9),
		0px 0px 5px rgba(125, 3, 3, 1);
}

.bs-img-right {
	box-shadow: 15px -15px 10px rgba(125, 3, 3, 0.9),
		0px 0px 5px rgba(125, 3, 3, 1);
}

.bs-body p {
	font-weight: 700;
	text-transform: uppercase;
	font-family: "Libre Baskerville", serif;
}

.bs-btn {
	background-color: #000;
	box-shadow: 0px 1px 5px #000000;
	color: #f7f7f7;
	font-weight: 400;
	font-family: "Libre Baskerville", serif;
	transition: 300ms;
}

.bs-btn:hover {
	background-color: #fff;
	outline: 2px solid #000;
	color: #333;
}
/* Best Seller Heading Background */
.bsh-bg {
	background-color: #f5f5f5;
}

.bsh-bg h2 {
	font-family: "Libre Baskerville", serif;
}
/* **********Styling Best Seller Slider Ends**************  */

/* **********Styling New Items Slider**************  */
.ni-img {
	box-shadow: 20px 3px 10px rgba(125, 3, 3, 0.9), 0px 0px 5px rgba(125, 3, 3, 1);
}

.ni-body p {
	font-weight: 700;
	text-transform: uppercase;
	font-family: "Libre Baskerville", serif;
}
/* **********Styling New Items Slider Ends**************  */

/* ************* All Product Section ******************* */

.moist-title h3 {
	display: inline-block;
	background-color: black;
	padding: 5px 15px;
	color: #a50e0e;
	font-family: "Libre Baskerville", serif;
	text-decoration: underline;
	text-align: center;
}

.side-menu {
	padding-left: 50px;
}

.side-menu div {
	font-size: 1.3em;
}

.side-menu div a {
	color: #cd0303;
	font-family: "Libre Baskerville", serif;
}

.side-menu div a.active {
	color: #000000;
	text-decoration: underline;
}

.side-menu div a:hover {
	color: #000000;
	text-decoration: underline;
}

.type-of-finish-title h3 {
	background-color: black;
	padding: 5px 15px;
	color: #a50e0e;
	text-decoration: underline;
	text-align: center;
	font-family: "Libre Baskerville", serif;
}

.moist-img {
	box-shadow: -15px -15px 10px rgba(125, 3, 3, 0.9),
		0px 0px 5px rgba(125, 3, 3, 1);
}

.moist-body p {
	font-weight: 700;
	text-transform: uppercase;
	font-family: "Libre Baskerville", serif;
}

.moist-btn {
	background-color: #000;
	box-shadow: 0px 1px 5px #000000;
	color: #f7f7f7;
	font-weight: 400;
	font-family: "Libre Baskerville", serif;
	transition: 300ms;
}

.moist-btn:hover {
	background-color: #fff;
	outline: 2px solid #000;
	color: #333;
}

.see-more-btn {
	border: none;
	background-color: #000;
	color: #fff;
	text-decoration: underline;
	padding: 10px 8px;
	letter-spacing: 2px;
	font-family: "Libre Baskerville", serif;
	font-size: 0.9em;
}

.see-more-btn:hover {
	color: #f00;
}
/* ************* All Product Section Ends ******************* */

/*  ************* Footer Above Section *********************** */
.footer-above-section-bg {
	background-color: #000000;
}
.footer-above-photo {
	width: 80%;
	height: 150px;
	margin: 0 auto;
	box-shadow: 0px 1px 5px #ffffff;
}

.footer-above-photo img {
	width: 100%;
	height: 100%;
}

.footer-above-details {
	text-align: center;
	font-family: "Libre Baskerville", serif;
	font-weight: 700;
	line-height: 2;
	color: white;
	word-spacing: 2px;
	letter-spacing: 1px;
}

.footer-above-details span {
	color: red;
	text-decoration: underline;
}

.footer-above-details a {
	color: white;
	text-decoration: underline;
}

.footer-above-details a.sign-up {
	color: red;
}

/* Giving hover effect ot sign up */
.footer-above-details a.sign-up:hover {
	color: #a71308;
}

/* Giving hover effect to read more */
a.read-more:hover {
	color: red;
}
/*  ************* Footer Above Section Ends ****************** */

/*  ************* Footer Section *************** */
.social-media ul {
	display: flex;
	justify-content: space-between;
}
.social-media ul li a {
	color: #333;
	font-family: "Libre Baskerville", serif;
	text-transform: uppercase;
	text-decoration: underline;
	font-weight: 500;
}
.social-media ul li a:hover {
	color: #a71308;
}

/* Giving A little margin left to the first star */
.star-margin {
	margin-left: 10px;
}

/* Giving A little margin left to the facebook icon */
.facebook-margin {
	margin-left: 10px;
}

/* Styling Rate Us span */
p.star span {
	font-weight: 500;
}

/* Styling Follow Us on span */
p.fa-in-tw span {
	font-weight: 500;
}

/* Making facebook instagram twitter and contact icons a little bit bigger */
.fa-in-tw i {
	font-size: 1.4em;
}
.contact-icon i {
	font-size: 1.4em;
}

/* Styling Contact Information */
div.contact-icon {
	padding-top: 20px;
	padding-left: 30px;
	line-height: 1.5;
	font-weight: 500;
}

/* Styling Copyright Division */
.copyright {
	color: black;
	font-family: "Libre Baskerville", serif;
}
/*  ************* Footer Section Ends *************** */

.owl-prev i,
.owl-next i {
	font-size: 30px;
	color: #333;
}

.card {
	border: none;
}

.owl-carousel .owl-stage-outer {
	padding-top: 30px;
	padding-bottom: 10px;
}

.owl-nav {
	margin-bottom: 20px;
}
.owl-theme .owl-nav {
	margin-top: 0px;
}

/* media query section */
/* Extra Large Size */
@media (min-width: 1200px) {
	.type-of-finish-title h3 {
		font-size: 1.4em;
	}
	.side-menu div {
		font-size: 1.2em;
	}
	.social-media ul {
		width: 75%;
	}
	.copyright {
		font-size: 1.1em;
		width: 100%;
	}
	#header .container-fluid {
		display: flex;
		justify-content: space-between;
	}
	.free-shipping h5 {
		font-size: 1.4vw;
	}
	.free-shipping h6 {
		font-size: 0.8vw;
	}
	#header .acc-cart .nav-link {
		font-size: 1.4vw;
	}
}

/* Large Size */
@media (min-width: 992px) and (max-width: 1199px) {
	.type-of-finish-title {
		padding: 2px 10px;
	}
	.type-of-finish-title h3 {
		font-size: 1.3em;
	}
	.side-menu div {
		font-size: 1.1em;
	}
	.social-media ul {
		width: 75%;
	}
	.copyright {
		font-size: 1em;
		width: 100%;
	}
	#header .container-fluid {
		display: flex;
		justify-content: space-between;
	}
	.free-shipping h5 {
		font-size: 1.6vw;
	}
	.free-shipping h6 {
		font-size: 1vw;
	}
	#header .acc-cart .nav-link {
		font-size: 1.6vw;
	}
}

/* Medium Size */
@media (min-width: 768px) and (max-width: 991px) {
	.type-of-finish-title h3 {
		font-size: 1.2em;
	}
	.side-menu {
		padding-left: 20px;
	}

	.side-menu div {
		font-size: 1rem;
	}

	.moist-body p {
		font-weight: 700;
		font-size: 0.8em;
	}
	.moisturing-title h3 {
		padding: 5px 6px;
	}
	.side-menu {
		height: 100%;
	}
	.footer-above-photo {
		width: 100%;
	}
	.footer-above-details {
		padding: 10px;
	}
	.copyright {
		font-size: 1em;
		width: 100%;
	}
	#header .container-fluid {
		display: flex;
		justify-content: space-between;
	}
	.free-shipping h5 {
		font-size: 2vw;
	}
	.free-shipping h6 {
		font-size: 1.2vw;
	}
	#header .acc-cart .nav-link {
		font-size: 1.8vw;
	}
}

/* Small Size */
@media (min-width: 576px) and (max-width: 767px) {
	.type-of-finish-title h3 {
		font-size: 0.9em;
	}

	.side-menu {
		padding-left: 15px;
	}

	.side-menu div {
		font-size: 0.9em;
	}

	.see-more-btn {
		font-size: 0.9em;
	}

	.side-menu {
		height: 25%;
	}
	.footer-above-photo {
		width: 100%;
	}

	.footer-above-details {
		font-size: 0.7em;
		padding-top: 23px;
	}
	div.social-media {
		padding-top: 20px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.social-media ul {
		display: none;
	}
	.fa-in-tw i {
		font-size: 30px;
	}
	div.contact-icon {
		padding-left: 10px;
		padding-right: 0px;
	}
	.copyright {
		font-size: 0.8em;
		width: 100%;
	}
	#header .container-fluid {
		display: flex;
		justify-content: center;
	}
	.custom-div strong {
		font-size: 40px;
	}
	.custom-div div img {
		height: 75px;
		width: 70px;
	}
	.free-shipping {
		display: none;
	}
	ul.acc-cart {
		display: none;
	}
}

/* Extra Small Size */
@media (max-width: 575px) {
	.type-of-finish-title h3 {
		font-size: 1.1em;
	}

	.side-menu {
		padding-left: 3px;
	}

	.side-menu div {
		font-size: 0.9em;
	}

	.see-more-btn {
		font-size: 0.7em;
	}

	.side-menu {
		height: 25%;
	}

	.footer-above-photo {
		width: 100%;
	}

	.footer-above-details {
		font-size: 0.7em;
		padding-top: 14px;
	}
	div.social-media {
		padding-top: 20px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.social-media ul {
		display: none;
	}
	.fa-in-tw i {
		font-size: 25px;
	}
	div.contact-icon {
		padding-left: 10px;
		padding-right: 0px;
	}
	.copyright {
		font-size: 0.8em;
		width: 100%;
	}
	#header .container-fluid {
		display: flex;
		justify-content: center;
	}
	.custom-div strong {
		font-size: 32px;
	}
	.custom-div div img {
		height: 75px;
		width: 70px;
	}
	.free-shipping {
		display: none;
	}
	ul.acc-cart {
		display: none;
	}
}

/* Styling PreLoader Area */
.loader-container {
	width: 100%;
	height: 100vh;
	background-color: #000;
	position: relative;
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loader {
	width: 50px;
	height: 50px;
	border: 5px solid;
	border-top-color: transparent;
	border-radius: 50%;
	animation: loader 1s linear infinite;
}

@keyframes loader {
	25% {
		color: #f00;
	}

	50% {
		color: #0f0;
	}

	75% {
		color: #ff0;
	}
	to {
		transform: rotate(360deg);
	}
}
/* Styling PreLoader Area Ends */

/* Styling UptoTop Button */
#Topbtn {
	position: fixed;
	bottom: 40px;
	right: 40px;
	z-index: 999;
	background-color: transparent;
	color: #333;
	font-weight: 500;
	border: none;
	width: 50px;
	height: 50px;
	font-size: 1em;
	display: none;
}
#Topbtn i {
	font-size: 22px;
}
/* Styling UptoTop Button Ends */
